<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##actionSlowMo</key>
		<string>動作 - 慢動作</string>
		<key>##cast1</key>
		<string>媽媽</string>
		<key>##cast2</key>
		<string>爸爸</string>
		<key>##cast3</key>
		<string>凡妮</string>
		<key>##cast4</key>
		<string>克倫文</string>
		<key>##cast5</key>
		<string>亨利</string>
		<key>##cast6</key>
		<string>安波</string>
		<key>##date</key>
		<string>^y 年夏季</string>
		<key>##description</key>
		<string>緊張刺激的好萊塢動作大片！非常適合用於製作假期視頻和家庭冒險。</string>
		<key>##movieName</key>
		<string>公路旅行</string>
		<key>##script0</key>
		<string>^f1^u背井^n^f0^u離鄉</string>
		<key>##script1</key>
		<string>^f1^u年輕家庭^n^f0^u踏上發現之旅</string>
		<key>##script2</key>
		<string>^f1^u充滿驚險^n^f0^u刺激的世界</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<integer>52</integer>
			<key>name</key>
			<string>Impact</string>
			<key>size</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<integer>28</integer>
			<key>name</key>
			<string>Impact</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Impact</string>
			<key>size</key>
			<integer>72</integer>
		</dict>
	</array>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f0^u^B1</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A0</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A1</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A2</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A3</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A4</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f2^u^A5</string>
			<key>titleName</key>
			<string>Title-Action2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^u^B0</string>
			<key>titleName</key>
			<string>Title-Action3</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>count</key>
			<integer>4</integer>
			<key>label</key>
			<string>##cast</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>2</integer>
			<key>objects</key>
			<array>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label3</string>
					<key>value</key>
					<string>##cast3</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label4</string>
					<key>value</key>
					<string>##cast4</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label5</string>
					<key>value</key>
					<string>##cast5</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label6</string>
					<key>value</key>
					<string>##cast6</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>rate</key>
			<real>0.5</real>
			<key>sourceLabel</key>
			<string>##actionSlowMo</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>1</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.24</real>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<integer>1</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.7400000000000002</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.69999999999999996</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>5.8300000000000001</real>
				<key>index</key>
				<integer>2</integer>
				<key>startStyle</key>
				<string>Style_BlackAndWhite</string>
				<key>styleBreakDuration</key>
				<integer>2</integer>
				<key>styleBreakOffset</key>
				<real>2.75</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.2</real>
				<key>index</key>
				<integer>2</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.2000000000000002</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.1000000000000001</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>2</integer>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>2</integer>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.75</real>
				<key>index</key>
				<integer>7</integer>
				<key>transitionAfter</key>
				<string>Transition_FadeThroughWhite</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>2</integer>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>3</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>4</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>5</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>6</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>7</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>8</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>0.77000000000000002</real>
				<key>index</key>
				<integer>9</integer>
				<key>titleName</key>
				<string>Title-Action2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.27</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.40000000000000002</real>
				<key>index</key>
				<integer>16</integer>
				<key>newLine</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.40000000000000002</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.40000000000000002</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.40000000000000002</real>
				<key>extraAfter</key>
				<string>white</string>
				<key>index</key>
				<integer>19</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>nameForCast</key>
			<array>
				<string></string>
				<string>SoundTrack-Blockbuster2</string>
				<string>SoundTrack-Blockbuster3</string>
				<string>SoundTrack-Blockbuster4</string>
				<string>SoundTrack-Blockbuster5</string>
				<string>SoundTrack-Blockbuster6</string>
			</array>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-Action1</string>
</dict>
</plist>
