<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##details0Label</key>
		<string>影片名稱：</string>
		<key>##details0Text</key>
		<string>畢業^b日</string>
		<key>##displayName</key>
		<string>成年</string>
		<key>##script0</key>
		<string>關於一個男孩</string>
		<key>##script1</key>
		<string>即將成人</string>
		<key>##script2</key>
		<string>在學校的最後日子裏</string>
		<key>##script3</key>
		<string>他將懂得家庭和友情</string>
		<key>##script4</key>
		<string>的重要性</string>
		<key>##script5</key>
		<string>這個春天</string>
		<key>##script6</key>
		<string>是時候了</string>
		<key>##script7</key>
		<string>^B0%1^n^B0%2</string>
	</dict>
	<key>attributes</key>
	<dict>
		<key>movieName</key>
		<dict>
			<key>uppercase</key>
			<false/>
		</dict>
	</dict>
	<key>displayName</key>
	<string>##displayName</string>
	<key>script</key>
	<array>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-1</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-2</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-3</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-4</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-5</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-6</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-7</string>
		</dict>
		<dict>
			<key>editor_preferLowercase</key>
			<true/>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>titleName</key>
			<string>TrailerTitle-ComingOfAge-8</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array/>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>editor_preferLowercase</key>
					<true/>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##details0Label</string>
					<key>value</key>
					<string>##details0Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>105</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>displayPercent</key>
				<real>0.73999999999999999</real>
				<key>duration</key>
				<real>5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.0666666666666664</real>
				<key>extraBefore</key>
				<string>Extra-Black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.66666666666666696</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>2.9333333333333327</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>duration</key>
				<real>0.93333333333333357</real>
				<key>effect</key>
				<string>ComingOfAge-PhotoSection-1</string>
				<key>freezeFrame</key>
				<true/>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>duration</key>
				<real>0.93333333333333357</real>
				<key>effect</key>
				<string>ComingOfAge-PhotoSection-2</string>
				<key>freezeFrame</key>
				<true/>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>duration</key>
				<real>0.96666666666666679</real>
				<key>effect</key>
				<string>ComingOfAge-PhotoSection-3</string>
				<key>freezeFrame</key>
				<true/>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>duration</key>
				<real>0.96666666666666679</real>
				<key>effect</key>
				<string>ComingOfAge-PhotoSection-4</string>
				<key>freezeFrame</key>
				<true/>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>duration</key>
				<real>0.56666666666666643</real>
				<key>effect</key>
				<string>ComingOfAge-PhotoSection-5</string>
				<key>extraAfter</key>
				<string>Extra-White</string>
				<key>freezeFrame</key>
				<true/>
				<key>index</key>
				<integer>5</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>2.7999999999999989</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>duration</key>
				<real>4.3666666666666671</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>duration</key>
				<real>2.2333333333333343</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>2.1333333333333329</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>3.7333333333333343</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>duration</key>
				<real>3.7666666666666693</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>duration</key>
				<real>2.6999999999999957</real>
				<key>extraBefore</key>
				<string>Extra-White</string>
				<key>index</key>
				<integer>9</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.1666666666666643</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>2.9333333333333371</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>duration</key>
				<real>1.9016666666666637</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>duration</key>
				<real>2.9000000000000057</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>duration</key>
				<real>0.96499999999999631</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>1.7666666666666657</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>1.1000000000000014</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>0.96666666666666856</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>duration</key>
				<real>1.43333333333333</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>2.4350000000000023</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>1.8983333333333334</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>0.76666666666666572</real>
				<key>extraAfter</key>
				<string>Extra-White</string>
				<key>index</key>
				<integer>17</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.46666666666666856</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 7</string>
				<key>duration</key>
				<real>4.0666666666666629</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>2.1000000000000014</real>
				<key>extraAfter</key>
				<string>Extra-Black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.20000000000000284</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>0</integer>
			<key>name</key>
			<string>SoundTrack-ComingOfAge</string>
		</dict>
	</dict>
</dict>
</plist>
