<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast1</key>
		<string>喬森</string>
		<key>##date</key>
		<string>^y 年夏季</string>
		<key>##description</key>
		<string>集中體現某位英雄的激動人心的事跡。特別適合用於製作歌頌性質的影片。</string>
		<key>##heroAction</key>
		<string>沖浪</string>
		<key>##heroActionLabel</key>
		<string>動作類型：</string>
		<key>##heroLabel</key>
		<string>英雄的大名：</string>
		<key>##movieName</key>
		<string>沖浪小子</string>
		<key>##role0</key>
		<string>男孩</string>
		<key>##role1</key>
		<string>女孩</string>
		<key>##role2</key>
		<string>男人</string>
		<key>##role3</key>
		<string>女人</string>
		<key>##role4</key>
		<string>狗</string>
		<key>##role5</key>
		<string>貓</string>
		<key>##script0</key>
		<string>在海洋所統治的世界中</string>
		<key>##script1</key>
		<string>^A01</string>
		<key>##script2</key>
		<string>對抗大海</string>
		<key>##script3</key>
		<string>並且敢於^B2</string>
		<key>##script4</key>
		<string>^A02</string>
		<key>##script5</key>
		<string>成為了</string>
		<key>##script6</key>
		<string>一個傳奇</string>
		<key>##single0</key>
		<string>一個男孩</string>
		<key>##single1</key>
		<string>一個女孩</string>
		<key>##single2</key>
		<string>一個男人</string>
		<key>##single3</key>
		<string>一個女人</string>
		<key>##single4</key>
		<string>一只狗</string>
		<key>##single5</key>
		<string>一只貓</string>
		<key>##type0</key>
		<string>男孩</string>
		<key>##type1</key>
		<string>女孩</string>
		<key>##type2</key>
		<string>男人</string>
		<key>##type3</key>
		<string>女人</string>
		<key>##type4</key>
		<string>狗</string>
		<key>##type5</key>
		<string>貓</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##roleLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##type0</string>
					<string>##type1</string>
					<string>##type2</string>
					<string>##type3</string>
					<string>##type4</string>
					<string>##type5</string>
				</array>
				<array>
					<string>##single0</string>
					<string>##single1</string>
					<string>##single2</string>
					<string>##single3</string>
					<string>##single4</string>
					<string>##single5</string>
				</array>
				<array>
					<string>##role0</string>
					<string>##role1</string>
					<string>##role2</string>
					<string>##role3</string>
					<string>##role4</string>
					<string>##role5</string>
				</array>
			</array>
		</dict>
	</array>
	<key>posterIndex</key>
	<integer>-2</integer>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script3</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script4</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script5</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script6</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B0</string>
			<key>titleName</key>
			<string>Title-EpicDrama</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B1</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##heroLabel</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##heroActionLabel</string>
					<key>value</key>
					<string>##heroAction</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>videoStyle</key>
			<string>Style_BlackAndWhite</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>2</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>3.1600000000000001</real>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>3</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1.3</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.29</real>
				<key>extraBefore</key>
				<string>white</string>
				<key>index</key>
				<integer>3</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.29999999999999999</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.7000000000000002</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.7000000000000002</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.46</real>
				<key>extraAfter</key>
				<string>white</string>
				<key>index</key>
				<integer>6</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.29999999999999999</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.6000000000000001</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.95999999999999996</real>
				<key>extraBefore</key>
				<string>white</string>
				<key>index</key>
				<integer>7</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.29999999999999999</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.95999999999999996</real>
				<key>extraBefore</key>
				<string>white</string>
				<key>index</key>
				<integer>8</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.29999999999999999</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3600000000000001</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.56000000000000005</real>
				<key>extraAfter</key>
				<string>white</string>
				<key>index</key>
				<integer>12</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.29999999999999999</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.5</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>textColor</key>
				<string>orange</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-EpicDrama.mov</string>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-EpicDrama2</string>
</dict>
</plist>
