<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast0Text</key>
		<string>賽迪</string>
		<key>##cast1Text</key>
		<string>泰勒</string>
		<key>##cast2Text</key>
		<string>麥迪遜</string>
		<key>##cast3Text</key>
		<string>達米恩</string>
		<key>##cast4Text</key>
		<string>瑪麗埃爾</string>
		<key>##cast5Text</key>
		<string>托尼</string>
		<key>##details0Label</key>
		<string>影片名稱：</string>
		<key>##details0Text</key>
		<string>霍家^b遊記</string>
		<key>##displayName</key>
		<string>家庭</string>
		<key>##script0</key>
		<string>遇見^n^u^A5</string>
		<key>##script1</key>
		<string>遇見^n^u^A4</string>
		<key>##script10</key>
		<string>全家的^n^u故事</string>
		<key>##script11</key>
		<string>^u神奇之旅</string>
		<key>##script12</key>
		<string>^u探索新大陸</string>
		<key>##script13</key>
		<string>就在^n^u阿拉斯加</string>
		<key>##script14</key>
		<string>^u^B0%1^n^u^B0%2</string>
		<key>##script2</key>
		<string>遇見^n^u^A3</string>
		<key>##script3</key>
		<string>遇見^n^u^A2</string>
		<key>##script4</key>
		<string>遇見^n^u^A1</string>
		<key>##script5</key>
		<string>和^n^u^A0</string>
		<key>##script6</key>
		<string>^u^$個愛冒險的小毛孩</string>
		<key>##script7</key>
		<string>即將^n^u獲得自由</string>
		<key>##script8</key>
		<string>^u在阿拉斯加</string>
		<key>##script9</key>
		<string>來自^n^u^Y0</string>
		<key>##shot1</key>
		<string>^A5</string>
		<key>##shot2</key>
		<string>^A4</string>
		<key>##shot3</key>
		<string>^A3</string>
		<key>##shot4</key>
		<string>^A2</string>
		<key>##shot5</key>
		<string>^A1</string>
		<key>##shot6</key>
		<string>^A0</string>
	</dict>
	<key>attributes</key>
	<dict>
		<key>movieName</key>
		<dict>
			<key>uppercase</key>
			<true/>
		</dict>
	</dict>
	<key>displayName</key>
	<string>##displayName</string>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>-1</integer>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>-1</integer>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>-1</integer>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>-1</integer>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>-1</integer>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-3</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-4</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script8</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-5</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script9</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-6</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script10</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-7</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script11</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-8</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script12</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-9</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script13</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-10</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script14</string>
			<key>titleName</key>
			<string>TrailerTitle-FamilyComedy-11</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>label</key>
			<string>##cast</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>2</integer>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast0Label</string>
					<key>value</key>
					<string>##cast0Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast1Label</string>
					<key>value</key>
					<string>##cast1Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A2</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast2Label</string>
					<key>value</key>
					<string>##cast2Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A3</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast3Label</string>
					<key>value</key>
					<string>##cast3Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A4</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast4Label</string>
					<key>value</key>
					<string>##cast4Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A5</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast5Label</string>
					<key>value</key>
					<string>##cast5Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##details0Label</string>
					<key>value</key>
					<string>##details0Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot2</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot3</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot4</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot5</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot6</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>103</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>displayPercent</key>
				<real>0.73999999999999999</real>
				<key>duration</key>
				<real>5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>1.7666666666666666</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.8666666666666663</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.8333333333333339</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.8333333333333321</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.8666666666666689</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.8333333333333321</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333535</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.8333333333333321</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>1.8333333333333321</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>1.8333333333333321</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>duration</key>
				<real>1.8333333333333357</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>duration</key>
				<real>2.6999999999999993</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>2.8666666666666671</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 7</string>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>duration</key>
				<real>0.93333333333333002</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>0.90000000000000568</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>duration</key>
				<real>0.69999999999999574</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>0.9333333333333329</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>cutSequence</key>
				<array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
				</array>
				<key>duration</key>
				<real>0.90000000000000147</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 8</string>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>0.96666666666666856</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>0.86666666666666714</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>1.7999999999999972</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>0.89999999999999858</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>duration</key>
				<real>0.89999999999999858</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 19</string>
				<key>duration</key>
				<real>1.2666666666666728</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>0.73333333333332718</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 9</string>
				<key>duration</key>
				<real>1.7333333333333343</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 21</string>
				<key>duration</key>
				<real>1.3666666666666671</real>
				<key>index</key>
				<integer>21</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<real>0.5</real>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 10</string>
				<key>duration</key>
				<real>1.8333333333333357</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>duration</key>
				<real>0.93333333333333002</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 24</string>
				<key>duration</key>
				<real>0.86666666666666714</real>
				<key>index</key>
				<integer>24</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 25</string>
				<key>duration</key>
				<real>1.3999999999999986</real>
				<key>index</key>
				<integer>25</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 26</string>
				<key>duration</key>
				<real>1.4333333333333371</real>
				<key>index</key>
				<integer>26</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 11</string>
				<key>duration</key>
				<real>1.5333333333333314</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 27</string>
				<key>duration</key>
				<real>0.89999999999999858</real>
				<key>index</key>
				<integer>27</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 28</string>
				<key>duration</key>
				<real>0.93333333333333712</real>
				<key>index</key>
				<integer>28</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 12</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 29</string>
				<key>duration</key>
				<real>1.0999999999999943</real>
				<key>index</key>
				<integer>29</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 30</string>
				<key>duration</key>
				<real>0.86666666666667425</real>
				<key>index</key>
				<integer>30</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 31</string>
				<key>duration</key>
				<real>0.86666666666666003</real>
				<key>index</key>
				<integer>31</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 32</string>
				<key>duration</key>
				<real>0.83333333333334281</real>
				<key>index</key>
				<integer>32</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 13</string>
				<key>duration</key>
				<real>2.4666666666666544</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 33</string>
				<key>duration</key>
				<real>0.93333333333333712</real>
				<key>index</key>
				<integer>33</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 34</string>
				<key>duration</key>
				<real>0.93333333333333712</real>
				<key>index</key>
				<integer>34</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 35</string>
				<key>duration</key>
				<real>0.93333333333333712</real>
				<key>index</key>
				<integer>35</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 36</string>
				<key>duration</key>
				<real>1</real>
				<key>index</key>
				<integer>36</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 37</string>
				<key>duration</key>
				<real>0.96666666666666856</real>
				<key>index</key>
				<integer>37</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 38</string>
				<key>cutSequence</key>
				<array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
					<array>
						<real>0.10000000000000001</real>
						<real>0.10000000000000001</real>
					</array>
				</array>
				<key>duration</key>
				<real>1.4000000000000057</real>
				<key>index</key>
				<integer>38</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 39</string>
				<key>duration</key>
				<real>0.96666666666666856</real>
				<key>index</key>
				<integer>39</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 40</string>
				<key>duration</key>
				<real>1.6666666666666572</real>
				<key>index</key>
				<integer>40</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 14</string>
				<key>duration</key>
				<real>3.8333333333333428</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>6.0666666666666629</real>
				<key>extraAfter</key>
				<string>Extra-Black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.13333333333332575</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>nameForCast</key>
			<array>
				<string></string>
				<string>SoundTrack-FamilyComedy2</string>
				<string>SoundTrack-FamilyComedy3</string>
				<string>SoundTrack-FamilyComedy4</string>
				<string>SoundTrack-FamilyComedy5</string>
				<string>SoundTrack-FamilyComedy6</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
