<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast1</key>
		<string>俊凱</string>
		<key>##cast2</key>
		<string>莉婭</string>
		<key>##date</key>
		<string>^f7^y</string>
		<key>##description</key>
		<string>一部會讓您對四五十年代的電影產生共鳴的非常程式化的影片。適合用於製作家人和朋友的日常生活主題的情節劇。</string>
		<key>##description0</key>
		<string>男人</string>
		<key>##description1</key>
		<string>女人</string>
		<key>##gender0</key>
		<string>男性</string>
		<key>##gender1</key>
		<string>女性</string>
		<key>##genderLabel</key>
		<string>性別：</string>
		<key>##lookLabel</key>
		<string>視頻樣式：</string>
		<key>##movieName</key>
		<string>馬德裏^b之夜</string>
		<key>##opposite0</key>
		<string>男人們</string>
		<key>##opposite1</key>
		<string>女士們</string>
		<key>##pronoun0</key>
		<string>他</string>
		<key>##pronoun1</key>
		<string>她</string>
		<key>##pronounAlt0</key>
		<string>他</string>
		<key>##pronounAlt1</key>
		<string>她</string>
		<key>##script0</key>
		<string>浪漫史</string>
		<key>##script1</key>
		<string>貪婪</string>
		<key>##script10</key>
		<string>^f6^A1^b^f2是^b^f3魅力超凡的^n^f3偷心^b^f2高手</string>
		<key>##script11</key>
		<string>^f2這可能將是^n^f1您看過的最驚險^n^f4的電影</string>
		<key>##script18</key>
		<string>^f1驚險的^b^b^b^b^n^f0^b^b^b^b動作</string>
		<key>##script2</key>
		<string>覆仇</string>
		<key>##script21</key>
		<string>^f5奇特^b^f2而^b^f5神秘的^n^f0愛戀</string>
		<key>##script3</key>
		<string>那個^A01^n是誰？</string>
		<key>##script5</key>
		<string>^f1^A13^b^f0愛戀 ^A02</string>
		<key>##script7</key>
		<string>^f1歹徒^n^f0對^A04聞風喪膽</string>
		<key>##script9</key>
		<string>^f6^A0^b^f2是^b^f3史無前例的^n^f4致命人物</string>
		<key>##type0</key>
		<string>普通</string>
		<key>##type1</key>
		<string>黑色電影</string>
		<key>##type2</key>
		<string>黑白</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>64</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>addSpaces</key>
			<integer>1</integer>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>64</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>28</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>addSpaces</key>
			<integer>1</integer>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>28</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>48</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>addSpaces</key>
			<integer>1</integer>
			<key>baselineOffset</key>
			<string>-4.5</string>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>48</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>baselineOffset</key>
			<string>-8</string>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>64</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<string>144</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>size</key>
			<integer>144</integer>
		</dict>
	</array>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
				<array>
					<string>##description0</string>
					<string>##description1</string>
				</array>
				<array>
					<string>##pronoun0</string>
					<string>##pronoun1</string>
				</array>
				<array>
					<string>##opposite0</string>
					<string>##opposite1</string>
				</array>
				<array>
					<string>##pronounAlt0</string>
					<string>##pronounAlt1</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##lookLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##type0</string>
					<string>##type1</string>
					<string>##type2</string>
				</array>
				<array>
					<string>Style_None</string>
					<string>Style_FilmNoir</string>
					<string>Style_BlackAndWhite</string>
				</array>
			</array>
		</dict>
	</array>
	<key>posterIndex</key>
	<integer>-2</integer>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script9</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script10</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script11</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script18</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script21</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B0%1^n^B0%2</string>
			<key>titleName</key>
			<string>Title-FilmNoir3</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B1</string>
			<key>titleName</key>
			<string>Title-Centered</string>
			<key>uppercase</key>
			<true/>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^B1</string>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>1</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##lookLabel</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>5</integer>
	<key>styleIndex</key>
	<integer>2</integer>
	<key>styleSection</key>
	<integer>1</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>duration</key>
				<real>4.9666666984558114</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>1.3600000000000001</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>1.2</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>2.8300000000000001</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.1899999999999999</real>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-DiamondUp</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 3</string>
				<key>duration</key>
				<real>2.4500000000000002</real>
				<key>index</key>
				<integer>3</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.93000000000000005</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>duration</key>
				<real>2.96</real>
				<key>index</key>
				<integer>4</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Up</string>
				<key>transitionBeforeDuration</key>
				<real>1.0666666030883789</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 5</string>
				<key>duration</key>
				<real>4.1600000000000001</real>
				<key>index</key>
				<integer>5</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>duration</key>
				<real>3.5600000000000001</real>
				<key>index</key>
				<integer>6</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Clock</string>
				<key>transitionBeforeDuration</key>
				<real>0.96666717529296875</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 7</string>
				<key>duration</key>
				<real>3.23</real>
				<key>index</key>
				<integer>7</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>2.5899999999999999</real>
				<key>index</key>
				<integer>8</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisOpen</string>
				<key>transitionBeforeDuration</key>
				<real>0.89999961853027344</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 1-1</string>
				<key>duration</key>
				<real>4.5199999999999996</real>
				<key>index</key>
				<integer>9</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisClose</string>
				<key>transitionBeforeDuration</key>
				<real>0.96666717529296875</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 10</string>
				<key>duration</key>
				<real>4.6600000000000001</real>
				<key>index</key>
				<integer>10</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-DiamondRight</string>
				<key>transitionBeforeDuration</key>
				<real>0.96666717529296875</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 11</string>
				<key>duration</key>
				<real>4.1900000000000004</real>
				<key>index</key>
				<integer>11</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisClose</string>
				<key>transitionBeforeDuration</key>
				<real>0.4333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>0.90000000000000002</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>0.93000000000000005</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>1.96</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>1.96</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>2.8900000000000001</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 18</string>
				<key>duration</key>
				<real>2.7000007629394531</real>
				<key>index</key>
				<integer>18</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2-1</string>
				<key>duration</key>
				<real>2.4666671752929692</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>3.0299999999999998</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 21</string>
				<key>duration</key>
				<real>2.4999961853027339</real>
				<key>index</key>
				<integer>21</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Corner</string>
				<key>transitionBeforeDuration</key>
				<real>0.83333587646484375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>duration</key>
				<real>3.6699999999999999</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 24</string>
				<key>duration</key>
				<real>4.8000030517578116</real>
				<key>index</key>
				<integer>24</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisOpen</string>
				<key>transitionBeforeDuration</key>
				<real>0.96666717529296875</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 25</string>
				<key>duration</key>
				<real>2.5999984741210942</real>
				<key>index</key>
				<integer>25</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>2.2999999999999998</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-FilmNoir.caf</string>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-FilmNoir2</string>
</dict>
</plist>
