<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast1</key>
		<string>凱茜</string>
		<key>##cast2</key>
		<string>娜娜</string>
		<key>##cast3</key>
		<string>潘玲</string>
		<key>##cast4</key>
		<string>艾珊</string>
		<key>##cast5</key>
		<string>絲婷</string>
		<key>##cast6</key>
		<string>凱娣</string>
		<key>##date</key>
		<string>^f6^y^b^f5 年春季</string>
		<key>##description</key>
		<string>激動人心的開心故事，適合用於製作生活中的各種活動：生日慶祝、度假遊玩、畢業典禮等等。</string>
		<key>##movieName</key>
		<string>^f5紐約^n^f3女子^b^f4組合</string>
		<key>##script0</key>
		<string>^f5^#^b^f6個最好的^b^f5朋友</string>
		<key>##script1</key>
		<string>^f0上大學前的^b^f1最後一次^b^f0冒險</string>
		<key>##script2</key>
		<string>^f0將會理解^b^f1友情^b^f0的真正含義</string>
		<key>##script3</key>
		<string>^f0以及^b^f1生活^b^f0的意義</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#39,174,211</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#39,174,211</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>86</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#39,174,211</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#39,174,211</string>
			<key>name</key>
			<string>Superclarendon-Bold</string>
			<key>size</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>background</key>
			<string>Index00Friendship</string>
			<key>sourceLine</key>
			<string>##script0</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index01Friendship</string>
			<key>sourceLine</key>
			<string>##script1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index02Friendship</string>
			<key>sourceLine</key>
			<string>##script2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index03Friendship</string>
			<key>sourceLine</key>
			<string>##script3</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index04Friendship</string>
			<key>sourceLine</key>
			<string>^B1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index05Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A0</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index06Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A1</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index07Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A2</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index08Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A3</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index05Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A4</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index06Friendship</string>
			<key>sourceLine</key>
			<string>^f2^A5</string>
			<key>titleName</key>
			<string>Title-Friendship2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>Index09Friendship</string>
			<key>sourceLine</key>
			<string>^B0</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>label</key>
			<string>##cast</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>2</integer>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A2</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label3</string>
					<key>value</key>
					<string>##cast3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A3</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label4</string>
					<key>value</key>
					<string>##cast4</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A4</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label5</string>
					<key>value</key>
					<string>##cast5</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A5</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label6</string>
					<key>value</key>
					<string>##cast6</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^B1</string>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>4</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>duration</key>
				<real>5.7066664695739746</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>3.4699997901916499</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>1</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>2</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>3</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>castIndexExactly</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>4</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>5</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>6</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>castIndexExactly</key>
				<integer>5</integer>
				<key>duration</key>
				<real>0.83299999999999996</real>
				<key>extendPrevious</key>
				<true/>
				<key>index</key>
				<integer>7</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.20000000000000001</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>2.9366664886474609</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>1.3683328628540039</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>duration</key>
				<real>1.2</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>1.201667785644531</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>2.4699993133544922</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>duration</key>
				<real>0.86666679382324219</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>0.93499946594238281</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>0.86666679382324219</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>duration</key>
				<real>3.5366668701171879</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>2.2366668701171881</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>2.1683349609375</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>duration</key>
				<real>1.7350006103515621</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>0.89999771118164062</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>0.56833267211914062</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>duration</key>
				<real>0.96666717529296875</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 19</string>
				<key>duration</key>
				<real>0.86833572387695312</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 21</string>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>21</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 7</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 8</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 24</string>
				<key>castIndexExactly</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.7</real>
				<key>index</key>
				<integer>24</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 9</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 25</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>25</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 26</string>
				<key>castIndexExactly</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.7</real>
				<key>index</key>
				<integer>26</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 10</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 27</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>0.59999999999999998</real>
				<key>index</key>
				<integer>27</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 28</string>
				<key>duration</key>
				<real>1.1016654968261721</real>
				<key>index</key>
				<integer>28</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 11</string>
				<key>duration</key>
				<real>3.2683334350585942</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>background</key>
				<string>Index09Friendship</string>
				<key>duration</key>
				<integer>6</integer>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>nameForCast</key>
			<array>
				<string></string>
				<string>SoundTrack-Friendship2</string>
				<string>SoundTrack-Friendship4</string>
				<string>SoundTrack-Friendship4</string>
				<string>SoundTrack-Friendship6</string>
				<string>SoundTrack-Friendship6</string>
			</array>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-Friendship1</string>
</dict>
</plist>
