<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##bothLabel</key>
		<string>^A0和^A1</string>
		<key>##bothSlowMoLabel</key>
		<string>^A0和^A1 - 慢動作</string>
		<key>##cast1</key>
		<string>香凝</string>
		<key>##cast2</key>
		<string>阿克</string>
		<key>##date</key>
		<string>^y 年 9 月 9 日</string>
		<key>##description</key>
		<string>一部情節流暢的浪漫劇，非常適合用於製作婚禮、訂婚和周年紀念日視頻。</string>
		<key>##landscapeLabel</key>
		<string>風景 - 字幕背景</string>
		<key>##movieName</key>
		<string>一個愛情故事</string>
		<key>##script1</key>
		<string>命運不同</string>
		<key>##script20</key>
		<string>^A0^n&amp;^n^A1^n^B0</string>
		<key>##script4</key>
		<string>卻註定要相遇</string>
		<key>##script6</key>
		<string>他們的命運交織</string>
		<key>##script8</key>
		<string>一場終身難忘的愛情</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Impact</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
	</array>
	<key>middlePercent</key>
	<real>0.65000000000000002</real>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>posterIndex</key>
	<integer>-2</integer>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>Title-Romance0</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>Title-Romance1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>Title-Romance2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script8</string>
			<key>titleName</key>
			<string>Title-Romance3</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^A0</string>
			<key>titleName</key>
			<string>Title-Romance6</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^A1</string>
			<key>titleName</key>
			<string>Title-Romance6</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script20</string>
			<key>titleName</key>
			<string>Title-Romance4</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B1</string>
			<key>titleName</key>
			<string>Title-Romance5</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^B1</string>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>rate</key>
			<real>0.5</real>
			<key>sourceLabel</key>
			<string>##bothSlowMoLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##landscapeLabel</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>2</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>duration</key>
				<real>5.9666666984558114</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.866666316986084</real>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 1</string>
				<key>duration</key>
				<real>3.5</real>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.83333396911621094</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.59999942779541016</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>duration</key>
				<real>2.3000001907348628</real>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.0666666030883789</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>duration</key>
				<real>3.3333339691162109</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 4</string>
				<key>duration</key>
				<real>2.4666652679443359</real>
				<key>index</key>
				<integer>4</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.86666679382324219</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.76666641235351562</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>duration</key>
				<real>7.9000015258789062</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 6</string>
				<key>duration</key>
				<real>2.3333320617675781</real>
				<key>index</key>
				<integer>6</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.80000114440917969</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.73333358764648438</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>duration</key>
				<real>6.7666683197021484</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 8</string>
				<key>duration</key>
				<real>1.9333305358886721</real>
				<key>index</key>
				<integer>8</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.76667022705078125</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.866668701171875</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>duration</key>
				<real>2.7666702270507808</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>2.9666633605957031</real>
				<key>index</key>
				<integer>10</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.8000030517578125</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 11</string>
				<key>duration</key>
				<real>2.5</real>
				<key>index</key>
				<integer>11</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.4333343505859379</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.83333206176757812</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>3.8333358764648442</real>
				<key>index</key>
				<integer>12</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.39999771118164062</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>3.0333328247070308</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 14</string>
				<key>duration</key>
				<real>2.4666671752929692</real>
				<key>index</key>
				<integer>14</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.3999977111816411</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.96666717529296875</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>3.8333320617675781</real>
				<key>index</key>
				<integer>15</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.90000152587890625</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>2.6333351135253911</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>2.8700000000000001</real>
				<key>index</key>
				<integer>17</integer>
				<key>newLine</key>
				<true/>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>duration</key>
				<real>1.8700000000000001</real>
				<key>index</key>
				<integer>18</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.9666595458984375</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 19</string>
				<key>duration</key>
				<real>3.5333328247070308</real>
				<key>extraAfter</key>
				<string>white</string>
				<key>index</key>
				<integer>19</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.26666259765625</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 20</string>
				<key>duration</key>
				<real>7.2000045776367188</real>
				<key>extraAfter</key>
				<string>white</string>
				<key>extraBefore</key>
				<string>white</string>
				<key>index</key>
				<integer>20</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.66666412353515603</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 21</string>
				<key>duration</key>
				<real>3.6000000000000001</real>
				<key>extraBefore</key>
				<string>white</string>
				<key>index</key>
				<integer>21</integer>
				<key>middlePercent</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>background</key>
				<string>RomanceCredits</string>
				<key>duration</key>
				<integer>6</integer>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>0</integer>
			<key>name</key>
			<string>SoundTrack-LoveStory.mov</string>
		</dict>
	</dict>
</dict>
</plist>
