<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##bothLabel</key>
		<string>^A0和^A1</string>
		<key>##cast1</key>
		<string>柯特</string>
		<key>##cast2</key>
		<string>安娜</string>
		<key>##date</key>
		<string>^y 年夏季</string>
		<key>##description</key>
		<string>輕松有趣的喜劇，特別適合用於製作各種愛情故事。</string>
		<key>##description0</key>
		<string>他</string>
		<key>##description1</key>
		<string>她</string>
		<key>##movieName</key>
		<string>周末^b出遊</string>
		<key>##script0</key>
		<string>^f1遇見^b^f2^A0</string>
		<key>##script1</key>
		<string>^A01有問題</string>
		<key>##script2</key>
		<string>^f1遇見^b^f2^A1</string>
		<key>##script3</key>
		<string>^A11有點古怪</string>
		<key>##script4</key>
		<string>機會來了</string>
		<key>##script5</key>
		<string>^f3可能正是他們所要找的</string>
		<key>##script6</key>
		<string>有時</string>
		<key>##script7</key>
		<string>愛情</string>
		<key>##script8</key>
		<string>不期而至</string>
		<key>##script9</key>
		<string>^f4^B0%1^n^f5^B0%2</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Times New Roman Bold</string>
			<key>size</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Times New Roman Bold</string>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>baselineOffset</key>
			<string>-40</string>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Edwardian Script</string>
			<key>size</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Times New Roman Bold</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Times New Roman Bold</string>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>addSpaces</key>
			<integer>1</integer>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Edwardian Script</string>
			<key>size</key>
			<integer>128</integer>
		</dict>
	</array>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
				<array>
					<string>##description0</string>
					<string>##description1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>posterIndex</key>
	<integer>-2</integer>
	<key>posterPercent</key>
	<real>0.80000000000000004</real>
	<key>script</key>
	<array>
		<dict>
			<key>background</key>
			<string>VerticalTealCreme</string>
			<key>sourceLine</key>
			<string>##script0</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalTealCreme</string>
			<key>sourceLine</key>
			<string>##script1</string>
		</dict>
		<dict>
			<key>background</key>
			<string>VerticalTealCreme</string>
			<key>sourceLine</key>
			<string>##script2</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalTealCreme</string>
			<key>sourceLine</key>
			<string>##script3</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalCremeTeal</string>
			<key>sourceLine</key>
			<string>##script4</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalTealCreme</string>
			<key>sourceLine</key>
			<string>##script5</string>
		</dict>
		<dict>
			<key>background</key>
			<string>VerticalTealCreme</string>
			<key>sourceLine</key>
			<string>##script6</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalCremeTeal</string>
			<key>sourceLine</key>
			<string>##script7</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalTealCreme</string>
			<key>sourceLine</key>
			<string>##script8</string>
		</dict>
		<dict>
			<key>background</key>
			<string>VerticalCremeTeal</string>
			<key>sourceLine</key>
			<string>##script9</string>
		</dict>
		<dict>
			<key>background</key>
			<string>HorizontalCremeTeal</string>
			<key>sourceLine</key>
			<string>^B1</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##bothLabel</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>1</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_PushDown</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_PuzzleRight</string>
				<key>transitionBeforeDuration</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>2</integer>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_PushUp</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_PushLeft</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.2999999999999998</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_PushDown</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_PuzzleLeft</string>
				<key>transitionBeforeDuration</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.8</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>3</integer>
				<key>transitionAfter</key>
				<string>Transition_PushUp</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_PushLeft</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.2</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.1000000000000001</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>extendAfter</key>
				<integer>1</integer>
				<key>extraAfter</key>
				<string>Teal</string>
				<key>extraBefore</key>
				<string>Teal</string>
				<key>index</key>
				<integer>4</integer>
				<key>transitionAfter</key>
				<string>Transition_SlideLeft</string>
				<key>transitionAfterDuration</key>
				<real>0.69999999999999996</real>
				<key>transitionBefore</key>
				<string>Transition_SlideLeft</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.2000000000000002</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>extraBefore</key>
				<string>Creme</string>
				<key>index</key>
				<integer>5</integer>
				<key>transitionAfter</key>
				<string>Transition_FadeThroughWhite</string>
				<key>transitionAfterDuration</key>
				<real>1.2</real>
				<key>transitionBefore</key>
				<string>Transition_SlideRight</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.7</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>extraAfter</key>
				<string>black</string>
				<key>index</key>
				<integer>8</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.69999999999999996</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>extendAfter</key>
				<integer>1</integer>
				<key>extraAfter</key>
				<string>Creme</string>
				<key>index</key>
				<integer>6</integer>
				<key>transitionAfter</key>
				<string>Transition_SlideDown</string>
				<key>transitionAfterDuration</key>
				<real>0.69999999999999996</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.5</real>
				<key>extendAfter</key>
				<integer>1</integer>
				<key>extraAfter</key>
				<string>Teal</string>
				<key>index</key>
				<integer>7</integer>
				<key>transitionAfter</key>
				<string>Transition_SlideLeft</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.69999999999999996</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.69999999999999996</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>extraBefore</key>
				<string>Creme</string>
				<key>index</key>
				<integer>8</integer>
				<key>transitionBefore</key>
				<string>Transition_SlideLeft</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>0.10000000000000001</real>
				<key>extendAfter</key>
				<integer>1</integer>
				<key>extraAfter</key>
				<string>Teal</string>
				<key>extraAfterDuration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>9</integer>
				<key>transitionAfter</key>
				<string>Transition_SlideUp</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_FadeThroughWhite</string>
				<key>transitionBeforeDuration</key>
				<real>1.5</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>background</key>
				<string>TealCremeCorners</string>
				<key>duration</key>
				<integer>2</integer>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-RomanticComedy.mov</string>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-RomCom1</string>
</dict>
</plist>
