<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast0Text</key>
		<string>媽媽</string>
		<key>##cast0Text2</key>
		<string>人稱執法專家</string>
		<key>##cast1Text</key>
		<string>爸爸</string>
		<key>##cast1Text2</key>
		<string>人稱領航導師</string>
		<key>##cast2Text</key>
		<string>賈</string>
		<key>##cast2Text2</key>
		<string>人稱多變女孩兒</string>
		<key>##cast3Text</key>
		<string>伊萬</string>
		<key>##cast3Text2</key>
		<string>人稱神奇小子</string>
		<key>##cast4Text</key>
		<string>凱特</string>
		<key>##cast4Text2</key>
		<string>人稱強勢女孩兒</string>
		<key>##cast5Text</key>
		<string>邁克爾</string>
		<key>##cast5Text2</key>
		<string>人稱不倒翁</string>
		<key>##details0Label</key>
		<string>影片名稱：</string>
		<key>##details0Text</key>
		<string>超級家庭</string>
		<key>##displayName</key>
		<string>超級英雄</string>
		<key>##script0</key>
		<string>梁家是一個普通家庭</string>
		<key>##script1</key>
		<string>卻有一些不同尋常的天才</string>
		<key>##script10</key>
		<string>^A3^n^A3#2</string>
		<key>##script11</key>
		<string>^A2^n^A2#2</string>
		<key>##script12</key>
		<string>^A1^n^A1#2</string>
		<key>##script13</key>
		<string>^A0^n^A0#2</string>
		<key>##script14</key>
		<string>^B0</string>
		<key>##script2</key>
		<string>砰！</string>
		<key>##script3</key>
		<string>劈啪！</string>
		<key>##script4</key>
		<string>嘭！</string>
		<key>##script5</key>
		<string>這個秋天</string>
		<key>##script6</key>
		<string>一家人</string>
		<key>##script7</key>
		<string>變成超人</string>
		<key>##script8</key>
		<string>^A5^n^A5#2</string>
		<key>##script9</key>
		<string>^A4^n^A4#2</string>
		<key>##shot16</key>
		<string>^A5</string>
		<key>##shot17</key>
		<string>^A4</string>
		<key>##shot18</key>
		<string>^A3</string>
		<key>##shot19</key>
		<string>^A2</string>
		<key>##shot20</key>
		<string>^A1</string>
		<key>##shot21</key>
		<string>^A0</string>
	</dict>
	<key>attributes</key>
	<dict>
		<key>movieName</key>
		<dict>
			<key>uppercase</key>
			<true/>
		</dict>
	</dict>
	<key>displayName</key>
	<string>##displayName</string>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-1</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-2</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-3</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-4</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-5</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-7</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-8</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-9</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script8</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-11</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script9</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-10</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script10</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-12</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script11</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-13</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script12</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-11</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>background</key>
			<string>FreezeFrame-End-m1</string>
			<key>sourceLine</key>
			<string>##script13</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-13</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script14</string>
			<key>titleName</key>
			<string>TrailerTitle-Superhero-14</string>
			<key>uppercase</key>
			<true/>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>count</key>
			<integer>4</integer>
			<key>label</key>
			<string>##cast</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>2</integer>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast0Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast0Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast0Text2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast1Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast1Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast1Text2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>^A2</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast2Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast2Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast2Text2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>^A3</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast3Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast3Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast3Text2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>^A4</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast4Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast4Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast4Text2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>^A5</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>sourceLabel</key>
					<string>##cast5Label</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>##cast5Text</string>
						</dict>
						<dict>
							<key>value</key>
							<string>##cast5Text2</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##details0Label</string>
					<key>value</key>
					<string>##details0Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot16</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot17</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot18</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot19</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot20</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot21</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>103</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>displayPercent</key>
				<real>0.73999999999999999</real>
				<key>duration</key>
				<real>5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>4.0333333333333332</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.0333333333333332</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>duration</key>
				<real>1.9666666666666668</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>3.2666666666666675</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.06666666666666643</real>
				<key>extraBefore</key>
				<string>Extra-White</string>
				<key>index</key>
				<integer>2</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.63333333333333286</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>0.66666666666666785</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.43333333333333357</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>duration</key>
				<real>0.73333333333333073</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.76666666666666927</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>duration</key>
				<real>0.79999999999999716</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>duration</key>
				<real>1.3333333333333357</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>duration</key>
				<real>1.1333333333333329</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>duration</key>
				<real>1.1333333333333329</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>1.5666666666666664</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>duration</key>
				<real>2.4000000000000021</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>1.1666666666666679</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>duration</key>
				<real>2.3000000000000007</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 7</string>
				<key>duration</key>
				<real>2.3666666666666671</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>2.1999999999999957</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>1.1666666666666714</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>1.2666666666666657</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>1.2333333333333343</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.69999999999999574</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 8</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>2.1000000000000014</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.70000000000000284</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 9</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.6333333333333329</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.5</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 10</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.8666666666666671</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 19</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.69999999999999574</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 11</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.5</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 12</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>1.2000000000000028</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 21</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>displayPercent</key>
				<real>1</real>
				<key>duration</key>
				<real>0.46666666666666146</real>
				<key>index</key>
				<integer>21</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 13</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>1.4666666666666686</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 14</string>
				<key>duration</key>
				<real>2.6333333333333329</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<real>2.6000000000000014</real>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>3.6333333333333329</real>
				<key>extraAfter</key>
				<string>Extra-Black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.23333333333333428</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>nameForCast</key>
			<array>
				<string></string>
				<string>SoundTrack-Superhero2</string>
				<string>SoundTrack-Superhero3</string>
				<string>SoundTrack-Superhero4</string>
				<string>SoundTrack-Superhero5</string>
				<string>SoundTrack-Superhero6</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
