<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast0Text</key>
		<string>安</string>
		<key>##cast1Text</key>
		<string>盧克</string>
		<key>##cast2Text</key>
		<string>梅根</string>
		<key>##cast3Text</key>
		<string>萊斯</string>
		<key>##cast4Text</key>
		<string>美琳娜</string>
		<key>##cast5Text</key>
		<string>德克蘭</string>
		<key>##details0Label</key>
		<string>影片名稱：</string>
		<key>##details0Text</key>
		<string>夏天來了！</string>
		<key>##displayName</key>
		<string>青少年</string>
		<key>##script0</key>
		<string>放假了</string>
		<key>##script1</key>
		<string>^$位來自不同群體的孩子</string>
		<key>##script10</key>
		<string>^B0</string>
		<key>##script2</key>
		<string>^s^n^A5#21</string>
		<key>##script3</key>
		<string>^s^n^A4#21</string>
		<key>##script4</key>
		<string>^s^n^A3#21</string>
		<key>##script5</key>
		<string>^s^n^A2#21</string>
		<key>##script6</key>
		<string>^s^n^A1#21</string>
		<key>##script7</key>
		<string>和^n^A0#21</string>
		<key>##script8</key>
		<string>摒棄世俗</string>
		<key>##script9</key>
		<string>並成為摯友</string>
		<key>##shot10</key>
		<string>^A4</string>
		<key>##shot11</key>
		<string>^A3</string>
		<key>##shot12</key>
		<string>^A2</string>
		<key>##shot13</key>
		<string>^A1</string>
		<key>##shot14</key>
		<string>^A0</string>
		<key>##shot3</key>
		<string>^A5</string>
		<key>##shot4</key>
		<string>^A4</string>
		<key>##shot5</key>
		<string>^A3</string>
		<key>##shot6</key>
		<string>^A2</string>
		<key>##shot7</key>
		<string>^A1</string>
		<key>##shot8</key>
		<string>^A0</string>
		<key>##shot9</key>
		<string>^A5</string>
		<key>##titleDefaultText0</key>
		<string>啦啦隊長</string>
		<key>##titleDefaultText1</key>
		<string>運動員</string>
		<key>##titleDefaultText10</key>
		<string>劇院兒童演員</string>
		<key>##titleDefaultText11</key>
		<string>哥特派</string>
		<key>##titleDefaultText2</key>
		<string>搖滾歌手</string>
		<key>##titleDefaultText3</key>
		<string>班長</string>
		<key>##titleDefaultText4</key>
		<string>致告別詞的學生代表</string>
		<key>##titleDefaultText5</key>
		<string>表演者</string>
		<key>##titleDefaultText6</key>
		<string>嬉皮士</string>
		<key>##titleDefaultText7</key>
		<string>返校節皇後</string>
		<key>##titleDefaultText8</key>
		<string>班級小醜</string>
		<key>##titleDefaultText9</key>
		<string>樂隊怪傑</string>
		<key>##titleDescription0</key>
		<string>啦啦隊長</string>
		<key>##titleDescription1</key>
		<string>運動員</string>
		<key>##titleDescription10</key>
		<string>劇院兒童演員</string>
		<key>##titleDescription11</key>
		<string>哥特派</string>
		<key>##titleDescription2</key>
		<string>搖滾歌手</string>
		<key>##titleDescription3</key>
		<string>班長</string>
		<key>##titleDescription4</key>
		<string>致告別詞的學生代表</string>
		<key>##titleDescription5</key>
		<string>表演者</string>
		<key>##titleDescription6</key>
		<string>嬉皮士</string>
		<key>##titleDescription7</key>
		<string>返校節皇後</string>
		<key>##titleDescription8</key>
		<string>班級小醜</string>
		<key>##titleDescription9</key>
		<string>樂隊怪傑</string>
		<key>##titleTypeLabel</key>
		<string>字幕樣式：</string>
	</dict>
	<key>attributes</key>
	<dict>
		<key>movieName</key>
		<dict>
			<key>uppercase</key>
			<true/>
		</dict>
	</dict>
	<key>displayName</key>
	<string>##displayName</string>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##titleTypeLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##titleDescription0</string>
					<string>##titleDescription1</string>
					<string>##titleDescription2</string>
					<string>##titleDescription3</string>
					<string>##titleDescription4</string>
					<string>##titleDescription5</string>
					<string>##titleDescription6</string>
					<string>##titleDescription7</string>
					<string>##titleDescription8</string>
					<string>##titleDescription9</string>
					<string>##titleDescription10</string>
					<string>##titleDescription11</string>
				</array>
				<array>
					<string>##titleDefaultText0</string>
					<string>##titleDefaultText1</string>
					<string>##titleDefaultText2</string>
					<string>##titleDefaultText3</string>
					<string>##titleDefaultText4</string>
					<string>##titleDefaultText5</string>
					<string>##titleDefaultText6</string>
					<string>##titleDefaultText7</string>
					<string>##titleDefaultText8</string>
					<string>##titleDefaultText9</string>
					<string>##titleDefaultText10</string>
					<string>##titleDefaultText11</string>
				</array>
				<array>
					<string>Cheerleader</string>
					<string>Athlete</string>
					<string>Rocker</string>
					<string>ClassPresident</string>
					<string>Valedictorian</string>
					<string>Artist</string>
					<string>Hippie</string>
					<string>HomecomingQueen</string>
					<string>ClassClown</string>
					<string>BandGeek</string>
					<string>TheaterKid</string>
					<string>Goth</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-2</string>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A5#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A4#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A3#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A2#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A1#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>firstLineOnlyForCastMemberAtIndex</key>
			<integer>0</integer>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-3-^A0#22</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script8</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-4</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script9</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-5</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script10</string>
			<key>titleName</key>
			<string>TrailerTitle-Teen-6</string>
			<key>uppercase</key>
			<true/>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>count</key>
			<integer>4</integer>
			<key>label</key>
			<string>##cast</string>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>2</integer>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>8</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast0Label</string>
					<key>value</key>
					<string>##cast0Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>5</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast1Label</string>
					<key>value</key>
					<string>##cast1Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A2</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast2Label</string>
					<key>value</key>
					<string>##cast2Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A3</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>3</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast3Label</string>
					<key>value</key>
					<string>##cast3Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A4</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>11</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast4Label</string>
					<key>value</key>
					<string>##cast4Text</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^A5</string>
					<key>popups</key>
					<array>
						<dict>
							<key>index</key>
							<integer>0</integer>
							<key>value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>associateTimelineByTitleName</key>
							<true/>
							<key>associateToField</key>
							<true/>
							<key>index</key>
							<integer>1</integer>
							<key>value</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>sourceLabel</key>
					<string>##cast5Label</string>
					<key>value</key>
					<string>##cast5Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##details0Label</string>
					<key>value</key>
					<string>##details0Text</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot6</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot7</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot8</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot9</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot10</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot11</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot12</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot13</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##shot14</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>102</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>displayPercent</key>
				<real>0.73999999999999999</real>
				<key>duration</key>
				<real>5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.5666666666666664</real>
				<key>extraBefore</key>
				<string>Extra-Black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>3.4333333333333336</real>
				<key>extendTitleBefore</key>
				<true/>
				<key>extendTitleBeforeDuration</key>
				<real>0.26666666666666572</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>duration</key>
				<real>2.0999999999999996</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>3.5999999999999996</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>1.2000000000000028</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>1.1999999999999993</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 9</string>
				<key>castIndex</key>
				<integer>5</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>castIndex</key>
				<integer>4</integer>
				<key>duration</key>
				<real>3.5999999999999943</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>castIndex</key>
				<integer>3</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>castIndex</key>
				<integer>2</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>3.5999999999999943</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>castIndex</key>
				<integer>1</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 7</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>3.6000000000000014</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>castIndex</key>
				<integer>0</integer>
				<key>duration</key>
				<real>3.5999999999999943</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 8</string>
				<key>duration</key>
				<real>2.7000000000000028</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>2.4000000000000057</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>1.7999999999999972</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 19</string>
				<key>duration</key>
				<real>2.4000000000000057</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>1.7999999999999972</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 9</string>
				<key>duration</key>
				<real>2.7000000000000028</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 21</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>21</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<real>1.1999999999999886</real>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>duration</key>
				<real>1.2000000000000028</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 24</string>
				<key>duration</key>
				<real>1.2000000000000028</real>
				<key>index</key>
				<integer>24</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 25</string>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>25</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 26</string>
				<key>duration</key>
				<real>0.90000000000000568</real>
				<key>index</key>
				<integer>26</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 10</string>
				<key>duration</key>
				<real>3.8999999999999915</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>3.0666666666666629</real>
				<key>extraAfter</key>
				<string>Extra-Black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.1666666666666714</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>nameForCast</key>
			<array>
				<string></string>
				<string>SoundTrack-Teen2</string>
				<string>SoundTrack-Teen3</string>
				<string>SoundTrack-Teen4</string>
				<string>SoundTrack-Teen5</string>
				<string>SoundTrack-Teen6</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
